header {
  margin-top: 50px;
  margin-left: 10%;
}

main {
  margin: 0 15% 0 auto;
  width: 50%;
  max-width: 600px;
  float: left;
}

#rightBuffer {
  min-width: 15%;
  width: auto;
  float: left;
}

pre {
  width: 100%;
}
