/* CSS Style Sheet
 * Author: Robert Holt */


body {
    background-color: #FFE;
    font-family: 'Droid Sans Mono', arial, sans-serif;
    font-size: 14px;
}

.nutritionInformation {
    color: #887;
}

link {
    color: #900;
}

header {
    text-align: center;
}

.cookies {
    border: 5px solid black;
    border-radius: 10px;
}

a {
    color: brown;
}
